Pac_Man/Assembly-CSharp.csproj
Pac_Man/Pac_Man.sln
Pac_Man/.vs/
Pac_Man/Library/
Pac_Man/obj/
Pac_Man/Logs/Packages-Update.log
Pac_Man/Temp/UnityLockfile
Pac_Man/Temp/ProcessJobs/b89df42499bb84ffb3fe8531d841477f.bakert
Pac_Man/Temp/__Backupscenes/0.backup
